.DS_Store
*.swp
*.swo
*.o
AlgorithmicTrading
*.csv
a.out
*.log
tools/External Tester/TrockEquityDataGen.exe
tools/Trock Equity Data Generator/TrockEquityDataGen.exe
tools/External Tester/trockAT.exe
build-AlgorithmicTrading-Desktop_Qt_5_4_1_MinGW_32bit-Debug/
build-AlgorithmicTrading-Desktop_Qt_5_4_1_MinGW_32bit-Release/
*.pro
*.
